.header {

    background-image: url('../images/banner/banner1.png');
    /* background-position: center; */
    height: 70vh;
    background-size: cover;
    color: black;
    text-align: end;
    padding-top: 150px;
    font-size: 20px;

}

.text {
    margin-right: 150px;
}

button {
    border: 0;
    background-color: #F15B22;
    padding: 17px;
    border-radius: 10px;
    color: white;
    font-size: medium;

}

/* main */
.main-body {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.main-image {
    margin-left: 150px;
}

.failure {
    margin-bottom: 300px;
    margin-top: 200px;

    margin-left: 40px;
}

.new {
    font-size: 50px;
}

.lists {
    font-size: 30px;
}

.section-2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}

.icons {
    margin-left: 200px;

    display: flex;
}

.web {
    margin-left: 80px;

}

.java {
    margin-left: 90px;

}

.ecom {
    margin-left: 90px;

}

.smoke {
    margin-left: 90px;

}

.gradient {

    margin-left: 100px;
    margin-top: 100px;
    width: 1100px;
    height: 250px;
    background-image: linear-gradient(to right, rgb(187, 66, 66), orange);
    border-radius: 8px;



}

.mind {
    font-size: 50px;
    margin-left: 30px;
    padding-top: 10px;

}

.call-btn {
    margin-left: 30px;
}

/* footer */
.footer {
    display: flex;
    background-color: black;
    padding: 150px;
    margin-top: 100px;
    color: white;
}

.fabs {

    font-size: 50px;
}

.future {}

.subscribe {
    margin-left: 600px;
}